*.pdf
!LINFO2241_Report.pdf
10k-most-common_filered.txt
out/
!server/temp-server.pdf
!server/test_file-decrypted-server.pdf
!client/test_file.pdf

.idea/codeStyles/codeStyleConfig.xml

.idea/shelf/Uncommitted_changes_before_Update_at_13_12_21__4_05_pm__Changes_.xml

.idea/shelf/Uncommitted_changes_before_Update_at_13_12_21,_4_05_pm_\[Changes\]/shelved.patch
